#overlay {
  position: fixed; /* Fixed position to cover entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 999; /* Ensure it sits above other content */
}
#newtask-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: black;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 480px;
  max-height: 600px;
  overflow-x: hidden;
  top: 20%;
  left: calc(50% - 200px);
  z-index: 1000;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  gap: 10px;
}

.project-name {
  background: transparent;
  width: 480px;
  height: 50px;
  font-size: 20px;
  font-family: monospace;
  border: 1px dashed grey;
  color: #fff;
  min-height: 50px;
}

.project-desc {
  background: transparent;
  height: 100px;
  font-size: 20px;
  font-family: monospace;
  border: none;
  border: 1px dashed grey;
  color: #fff;
  min-height: 100px;
  min-width: 480px;
  max-width: 480px;
}
.subtaskBtn {
  width: 54px;
  margin-top: 10px;
  background: #fff;
  border: 1px solid grey;
  border-radius: 10px;
  color: black;
}
.subtaskBtn:hover {
  left: 0;
  background: black;
  color: #fff;
}
.addtaskBtn {
  min-height: 40px;
  width: 480px;
  background: #fff;
  border: none;
  border-radius: 20px;
  transition: background 0.4s, color 0.4s;
  cursor: pointer;
  overflow-y: auto;
}
.addtaskBtn:hover {
  background: black;
  color: #fff;
  border: 1px solid #fff;
}
.addtaskBtn:active {
  background: #333;
  opacity: 1;
}
