.todo-title {
  display: block;
  background: transparent;
  border-bottom: 2px solid black;
  font-size: 25px;
  font-weight: 700;
  width: 150px;
  text-wrap: nowrap;
  padding: 10px;
  margin-left: 43%;
  margin-top: 20px;
  margin-bottom: 50px;
}
#todo-container {
  position: absolute;
  color: black;
  background: #fff;
  width: 1280px;
  height: 500px;
  padding: 20px;
  margin-left: 25px;
  margin-top: 20px;
}
